[submodule "solver/sdpt3"]
	path = solver/sdpt3
	url = https://github.com/sqlp/sdpt3.git
[submodule "solver/sedumi"]
	path = solver/sedumi
	url = https://github.com/sqlp/sedumi.git
[submodule "benchmarks/ESC"]
	path = benchmarks/ESC
	url = https://github.com/vsdp/ESC.git
[submodule "benchmarks/RDM"]
	path = benchmarks/RDM
	url = https://github.com/vsdp/RDM.git
[submodule "benchmarks/SDPLIB"]
	path = benchmarks/SDPLIB
	url = https://github.com/vsdp/SDPLIB.git
[submodule "benchmarks/SPARSE_SDP"]
	path = benchmarks/SPARSE_SDP
	url = https://github.com/vsdp/SPARSE_SDP.git
[submodule "benchmarks/DIMACS"]
	path = benchmarks/DIMACS
	url = https://github.com/vsdp/DIMACS.git
[submodule "solver/csdp"]
	path = solver/csdp
	url = https://github.com/coin-or/Csdp.git
[submodule "vsdp/2012"]
	path = vsdp/2012
	url = https://github.com/vsdp/vsdp-2012.git
[submodule "vsdp/2006"]
	path = vsdp/2006
	url = https://github.com/vsdp/vsdp-2006.git
[submodule "vsdp/2018"]
	path = vsdp/2018
	url = https://github.com/vsdp/vsdp-2018.git
